
html {
    font-family: Inter;
    font-size: 16px;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Inter,Gudea;
    overflow-x: hidden;
}

body{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    
}

a{
    text-decoration:none;
    color: #2247AF;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 25px;
    position: fixed;
    z-index: 3;
}

nav{
    font-family: Inter;
    background-color: #ffffff;
    width: 75%;
    border: 3px solid #2247AF;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;	
    padding: 20px;
    box-shadow:0px 2px 19px #2248af, inset 0px 0px 1px #ffffff;  
    font-size: 24px;
    font-family: 'Gudea';
    font-weight: 400px;
    line-height: 120.00000476837158%;
    font-stretch: normal;
}



.firstSection{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
    width: 100%;
    height: 990px;
}

.firstSection h1{
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    color:#2247AF;
    padding-bottom: 50px;
}

.firstSection h2{
    position: relative;
    left: 25px;
    padding-bottom: 50px;
    color: rgba(34, 71, 175, 1);
    font-size: 40px;
    font-style: normal;
    font-family:Gudea;
    font-weight:500;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
}

.textFirstSection{
    display: flex;
    flex-direction: column;
    
}

.moreFirstSection{
  padding:27px 11px; 
  width: 321.97px;
  height: 92px;
  font-style: normal;
  font-weight: 800;
  object-fit: cover;
  text-decoration:none; 
  text-align:center; 
  border:solid 4px #295bbf; 
  -webkit-border-radius:24px;
  -moz-border-radius:24px; 
  border-radius: 24px; 
  font:25px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#427ad4; 
  background:#ffffff; 
  -webkit-box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 2px 8px #2b2b2b,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff;
  margin-right: 15px;
}

.buttonFirstSection :first-child:hover{
  color: #ffffff;
  border:solid 4px #ffffff; 
  background-color: #2247AF;
}

.buttonFirstSection :nth-child(2):hover{
  color:#2247AF; 
  background-image:linear-gradient(92.19deg, #FFFFFF -4.5%, #93C1F9 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.buttonFirstSection{
    display: flex;
    width: 65%;
    height: 170px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.orderFirstSection{
  color: rgba(255, 255, 255, 1);
  width: 321.97px;
  height: 92px;
  font-size: 25px;
  align-self: auto;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  border-radius: 24px;
  text-decoration: none;
  padding:27px 11px; 
  border:none; 
  background-color:#2248af; 
  background-image: -moz-linear-gradient(top, #2248af 0%, #458efc 100%); 
  background-image: -webkit-linear-gradient(top, #2248af 0%, #458efc 100%); 
  background-image: -o-linear-gradient(top, #2248af 0%, #458efc 100%); 
  background-image: -ms-linear-gradient(top, #2248af 0% ,#458efc 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#458efc', endColorstr='#458efc',GradientType=0 ); 
  background-image: linear-gradient(top, #2248af 0% ,#458efc 100%);   
  -webkit-box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 2px 8px #2b2b2b,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff;
}

.phoneArmFirstSection{
    position: absolute;
    top: 190px;
    right: -3%;
    width: 513;
    height: 582;
}

.ellipseFirstSection{
    position: absolute;
    top: -150px;
    right: -30%;
    z-index: -2;
}


.vectorFirstSection{
    position: absolute;
    top: 150px;
    left: -10%;
    z-index: -1;
}

.logo{
    position: absolute;
    top: 75px;
    left: 2%;
}

.pointsFirstSection{
    position: absolute;
    top: 130px;
    left: 1%;
}

.vectorArmFirstSection{
    position: absolute;
    top: 710px;
    right: -3%;
    z-index: 1;
}

.pointsH2{
    position: absolute;
    top: 410px;
    left: 190px;
}

.secondSection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16%;
}

.secondSectionFirstText{
    color: #2247AF;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5;
    padding-bottom: 15px;
}

  .animation {
    margin-top: 67px;
    margin-bottom: 17px;
    width: 100%;
    height: 95px;
    background-image: url("./animationText.png");
    animation: 20s anim1 infinite linear;
    animation-delay: 2s;
 }
 @keyframes anim1 {
    from {
       background-position: 0 0;
    }
    to {
       background-position: -1160px 0;
    }
 }
 


  .secondSectionSecondText{
    color: rgba(34, 71, 175, 1);
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: justified;
    font-family: Gudea;
    font-weight: 400px;
    line-height: 125%;
    font-stretch: normal;
    text-decoration: none;
    padding-bottom: 50px;
  }

.buttonSecondSection{
  position: relative;
  left: 12px;
  width: 303px;
  height: 73px;
  object-fit: cover;
  text-decoration:none; 
  text-align:center; 
  padding:16px 11px; 
  border:solid 4px #295bbf; 
  -webkit-border-radius:24px;
  -moz-border-radius:24px; 
  border-radius: 24px; 
  font:25px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#427ad4; 
  background:#ffffff; 
  -webkit-box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 2px 8px #2b2b2b,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff;
  margin-bottom: 10px;
}

.secondSection a:hover{
  color: #ffffff;
  border: solid 4px #ffffff;
  background-color: #2247AF;;
}

.iphone13SecondSection{
    position: absolute;
    top: 1020px;
    right: 20%;
    z-index: 2;
}

.vectorSecondSection{
    position: absolute;
    top: 1250px;
    left: -7%;
    z-index: -1;
}

.vectorSecondSectionBackIphone{
    position: absolute;
    top: 850px;
    right: -20%;
    z-index: 1;
}



.thirdSection h1{
  color: #2247AF;
  width: 100%;
  height: auto;
  font-size: 48px;
  align-self: auto;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.thirdSection h2{
  color: rgba(34, 71, 175, 1);
  width: 521px;
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 800;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
  padding-bottom: 25px;
  margin-left: 15px;
}

.aboutThirdSection{
  color: rgba(34, 71, 175, 1);
  width: 446px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  /* text-align: left; */
  font-family: Gudea;
  font-weight: 400px;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
  padding-bottom: 57px;
  margin-left: 15px;
}

.button{
    width: 303px;
    height: 73px;
    object-fit: cover;
    text-decoration:none; 
    text-align:center; 
    padding:16px 11px; 
    border:solid 4px #295bbf; 
    -webkit-border-radius:24px;
    -moz-border-radius:24px; 
    border-radius: 24px; 
    font:25px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#427ad4; 
    background:#ffffff; 
    -webkit-box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 2px 8px #2b2b2b,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff;
    margin-bottom: 15px;
    margin-left: 15px; 
  }

  .thirdSection a:hover{
    color: #ffffff;
    border: solid 4px #ffffff;
    background-color: #2247AF;;
  }

  .thirdSection{
    width: 100%;
    height: auto;
    margin-top:250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
  }

  .thirdSectionText{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    right: -57%;
    top:100px;
    padding-top: 40px;
    margin-bottom: 150px;
    
  }


  .iphone13Pro{
    position: absolute;
    top: 2040px;
    left: 150px;
  }

  .ellipseThirdSection{
    width: 75%;
    height: auto;
    position: absolute;
    top: 1950px;
    left: -120px;
    z-index: -1;
  }

  .vectorThirdSection{
    position: absolute;
    top: 2080px;
    right: -10%;
    z-index: -1;
  }

  .fourthSection{
    width: 100%;
    height: auto;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .fourthSection h1{
    background: linear-gradient(to top right,#2247AF,#4b83de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    width: 100%;
    height: auto;
    font-size: 48px;
    align-self: auto;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .consultationH2{
    color: #2247AF;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    font-family: Inter;
    line-height: 56px;
    text-decoration: none;
  }

  .consultationText{
    font-size: 20px;
    color: rgba(34, 71, 175, 1);
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Gudea;
    font-weight: 400px;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }

  .consultationImg{
    width: 88.68px;
    height: 106.41px;
    margin-bottom: 30px;
  }

  .consultation{
    width: 420.24px;
    height: 320.89px;
    border-radius: 20px;
    -webkit-box-shadow:9px 20px 20px #5597FC, inset 0px 0px 1px #ffffff,9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 9px 20px 20px #5597FC,  inset 0px 0px 1px #ffffff,9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff;
    box-shadow:9px 20px 20px #5597FC, inset 0px 0px 1px #ffffff,
    9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-top: 40px;
    margin-right: 30px;
    margin-bottom: 30px;
    
  }

  .tracking{
    width: 420.24px;
    height: 320.89px;
    border-radius: 20px;
    -webkit-box-shadow:9px 20px 20px #5597FC, inset 0px 0px 1px #ffffff,9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 9px 20px 20px #5597FC,  inset 0px 0px 1px #ffffff,9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff;
    box-shadow:9px 20px 20px #5597FC, inset 0px 0px 1px #ffffff,
    9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 30px;
    z-index: 1;
    background-color: #ffffff;
  }

  .trackingH2{
    color: rgba(34, 71, 175, 1);
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 800;
    line-height: 56px;
    font-stretch: normal;
    text-decoration: none;
    margin-top: -10px;
  }

  .trackingText{
    color: rgba(34, 71, 175, 1);
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Gudea;
    font-weight: 400px;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }

  .trackingImg{
    width: 88.68px;
    height: 106.41px;
    margin-bottom: 40px;
  }

  .Advantages{
    width: 1200px;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding-top: 35px;
  }

  .detailInfo{
    width: 420.24px;
    height: 320.89px;
    border-radius: 20px;
    -webkit-box-shadow:9px 20px 20px #5597FC, inset 0px 0px 1px #ffffff,9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 9px 20px 20px #5597FC,  inset 0px 0px 1px #ffffff,9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff;
    box-shadow:9px 20px 20px #5597FC, inset 0px 0px 1px #ffffff,
    9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 50px;
    
  }

  .detailInfoImg{
    width: 88.68px;
    height: 106.41px;
    margin-bottom: 40px;
  }

  .detailInfoH2{
    color: rgba(34, 71, 175, 1);
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 800;
    line-height: 56px;
    font-stretch: normal;
    text-decoration: none;
  }

  .detailInfoText{
    color: rgba(34, 71, 175, 1);
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Gudea;
    font-weight: 400px;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
}

.emergencyCare{
    width: 420.24px;
    height: 320.89px;
    border-radius: 20px;
    -webkit-box-shadow:9px 20px 20px #5597FC, inset 0px 0px 1px #ffffff,9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 9px 20px 20px #5597FC,  inset 0px 0px 1px #ffffff,9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff;
    box-shadow:9px 20px 20px #5597FC, inset 0px 0px 1px #ffffff,
    9px -8px 20px #5597FC, inset 0px 0px 1px #ffffff; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.emergencyCareImg{
    width: 88.68px;
    height: 70.94px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.emergencyCareH2{
    color: rgba(34, 71, 175, 1);
    font-size: 24px;
    align-self: auto;
    text-align: left;
    font-family: Inter;
    font-weight: 800;
    line-height: 56px;
    font-stretch: normal;
    text-decoration: none;
}

.emergencyCareText{
  color: rgba(34, 71, 175, 1);
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gudea;
  font-weight: 400px;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}

.pointsFourthSection{
  position:absolute;
  top: 2955px;
  right:22.5%; 
  z-index: -1;
}

.fifthSection{
    width: 100%;
    height: auto;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.fifthSection h1{
  background: linear-gradient(260.14deg, #427BD5 10.72%, #295ABF 49.17%, #2247AF 89.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 100%;
  height: auto;
  font-size: 48px;
  align-self: auto;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin-bottom: 30px;
}

.fifthSection h2{
  background: linear-gradient(260.14deg, #427BD5 10.72%, #295ABF 49.17%, #2247AF 89.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 100%;
  height: auto;
  font-size: 24px;
  align-self: auto;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

 #flastname{
    width: 455px;
    height: 100px;
    padding: 29.7px 49.6px;
    outline:none; 
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: rgba(34, 71, 175, 0.7);
    border-radius: 30px;
    color: white;
    font-family: 'Gudea';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    margin-right: 10px;
} 

#fname{
  width: 455px;
  height: 100px;
  padding: 31.67px 55.09px;
  outline:none; 
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background: rgba(34, 71, 175, 0.7);
  border-radius: 30px;
  color: white;
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
}

#fmail{
  width: 925px;
  height: 100px;
  padding: 31.67px 55.09px;
  outline:none; 
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background: rgba(34, 71, 175, 0.7);
  border-radius: 30px;
  color: white;
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
}

#ftel{
  width: 925px;
  height: 100px;
  padding: 31.67px 55.09px;
  outline:none; 
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background: rgba(34, 71, 175, 0.7);
  border-radius: 30px;
  color: white;
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
}

input::placeholder{
  color: #ffffff;
}


#fsubbutton{
  width: 300px;
  height: 72.86px;
  object-fit: cover;
  text-decoration:none; 
  text-align:center; 
  padding:16px 11px; 
  border:solid 4px #295bbf; 
  -webkit-border-radius:24px;
  -moz-border-radius:24px; 
  border-radius: 24px; 
  font:25px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#427ad4; 
  background:#ffffff; 
  -webkit-box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 2px 8px #2b2b2b,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 2px 8px #2b2b2b, inset 0px 0px 1px #ffffff;
  margin-bottom: 15px;
  margin-left: 15px; 
  margin-top: 26px;
}

#tembForm :nth-child(5):hover{
  color: #ffffff;
  border: solid 4px #ffffff;
  background-color: #2247AF;;
}

#tembForm{
  width: 930px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 26px;
}

.sixthSection{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 355px;
}

.sixthSectionMainText{
  width: 334px;
  height: auto;
  
}

.sixthSection h1{
  background: linear-gradient(260.14deg, #427BD5 10.72%, #295ABF 49.17%, #2247AF 89.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
}

.answers{
  color:  #2247AF;
  width: 299px;
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: 'Gudea';
  font-weight: 400px;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}

.questions{
  width:760px;
  height: auto;
  
}


.questionFirst{
  width: 318px;
  height:auto;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 1;
  border-color: transparent;
  border: 3px solid #2247AF;
  border-radius: 30px;
  white-space: nowrap;
  margin-bottom: 32px;
 
}

.active{
  width: 746px;
}

.answerFirst{
  margin-bottom: 25px;
  display: none;
}

.active{
  display: block;
}

.questions p{
  color: rgba(34, 71, 175, 1);
  padding: 23px 50px;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gudea;
  font-weight: 400px;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}



.questionSecond{
  width: 746px;
  height:auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border: 3px solid #2247AF;
  border-radius: 30px;
  white-space: nowrap;
  margin-bottom: 32px;
}



.answerSecond{
  margin-bottom: 25px;
  display: none;
}

.active{
  display: block;
}

.questionThird{
  width: 746px;
  height:auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border: 3px solid #2247AF;
  border-radius: 30px;
  white-space: nowrap;
  margin-bottom: 32px;
}

.answerThird{
  margin-bottom: 25px;
  display: none;
}

.active{
  display: block;
}

.questionFourth{
  width: 540px;
  height:auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border: 3px solid #2247AF;
  border-radius: 30px;
  white-space: nowrap;
  margin-bottom: 32px;
}

.active{
  width: 746px;
}

.answerFourth{
  margin-bottom: 25px;
  display: none;
}

.active{
  display: block;
}

.questionFifth{
  width: 746px;
  height:auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border: 3px solid #2247AF;
  border-radius: 30px;
  white-space: nowrap;
  margin-bottom: 32px;
}

.answerFifth{
  margin-bottom: 25px;
  display: none;
}

.active{
  display: block;
}

.pointsAnswers{
  position:absolute;
  right: 5%; 
  z-index: -1;
} 

footer{
  margin-top: 70px;
  width: 100%;
  height: 346px;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  display: flex;
  flex-direction: column;
  justify-content: center ;
  text-align: center;
}

footer h1{
  font-family: 'Gudea';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #FFFFFF;
margin-bottom: 50px;
}

.footerIcons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerIcons :first-child{
  margin-right: 15px;
}

.pointsFooter{
  position: relative;
  width: 81px;
  height: auto;
  z-index: 1;
  opacity: 30%;
}



.TembRights{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  position: relative;
  top: 50px;
  left: -500px;
}
  

@media (min-width: 1800px) { 

  .firstSection h1{
    font-size: 85px;
  }

  .firstSection h2{
    left: 45px;
    font-size: 60px;
}

.phoneArmFirstSection{
  right: -3%;
  width: 805px;
  height: 680px;
}

.pointsH2{
  width: 60px;
  height: 170px;
  top: 480px;
  left: 190px;
}

.buttonFirstSection{
  width: 55%;
}

.moreFirstSection{
  width: 350px;
  height: 105px;
  padding:30px 11px; 
  -webkit-border-radius:24px;
  -moz-border-radius:24px; 
  border-radius: 28px; 
  font:30px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  margin-right: 15px;
}

.orderFirstSection{
  width: 350px;
  height: 105px;
  padding:30px 11px; 
  -webkit-border-radius:24px;
  -moz-border-radius:24px; 
  border-radius: 28px; 
  font:30px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  margin-right: 15px;
}

nav{

  font-size: 35px;
}

}
